@tailwind base;
@tailwind components;
@tailwind utilities;
@layer  {
  html, body {
    height: 100%;
    width: 100%;
  }
  #root {
    height: 100%;
    width: 100%;
  }
  .scrollbar::-webkit-scrollbar{
    background-color: rgba(255, 255, 255, 0);
    width: 5px;
  }
  .scrollbar::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 10px;
  }
  .hide-spin-buttons::-webkit-inner-spin-button,
  .hide-spin-buttons::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .hide-spin-buttons {
    -moz-appearance: textfield;
  }
}
